<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <h1>Welcome to text analyzer</h1>
    <form action="/removepunc" method="get">
    <div>
        <textarea name="text"></textarea>
    </div>
        <div>
        <input type="checkbox" name="removepunc">removepunctuation<br>
            <input type="checkbox" name="fullcaps">UpperCase<br>
            <input type="checkbox" name="newlineremover">New Line Remover<br>
            <input type="checkbox" name="extraspaceremover">extraspace Remover<br>
            </div>
    <div>
        <input type="submit" value="Submit">

    </div>
</html>